@use 'variables';

// run for install "npm install bootstrap sass"

@use 'bootstrap/scss/bootstrap';

// mdi icons
@import '@mdi/font/css/materialdesignicons.css';

// preloader
@import url('../css/common/preloader.css');

// CP font 
@import url('../css/common/font.css');

// Common app styles
@import url('../css/app.css');